/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: white;
	--color-background: black;
	--start-color: darkviolet;
	--end-color: blue;
}

/****************/
/* JOUW STYLING */
/****************/

body {
	background-color: black;
	color: white;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
}

header {
	background-color: #9932cc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5em;
	top: 0;
	margin-bottom: 2em;
}

header button:first-of-type {
	width: 2vw;
	height: auto;
}

header nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	font-size: 25px;
	padding: 1em;
	margin-top: 2em;
}

header nav li {
	margin-top: 1em;
	margin-bottom: 2em;
}

header button:first-of-type {
	width: 2vw;
	height: auto;
}

header a img {
	height: 3.125em;
	width: 6.25em;
}

header button img {
	height: 1.25em;
	width: 2.5em;
}

/* ANIMATIE WINKELMAND */

@keyframes winkelmand-animation {
	0% {
		scale: 1;
	}

	/* animatie is normale grootte */
	100% {
		scale: 2;
	}
}

/* animatie is 2 keer zo groot */

header a svg:hover {
	animation-name: winkelmand-animation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 2em;
	translate: -100% 0%;
	transition: translate 0.3s;
	top: 0;
	background-color: darkorchid;
}

nav.toonMenu {
	translate: 0% 0%;
}

iframe {
	border: none;
}

/* eerste img */
img {
	width: 18.75em;
	height: 18.75em;
}

/* alle a's die op buttons lijken */
a {
	/*https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
	color: white;
	background-color: darkorchid;
	border: none;
	padding: 0.9em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 0.5em;
}

section:first-of-type a:hover {
	background-color: darkviolet;
	opacity: 0.5;
}

/* voor all buttons */
button {
	font-family: inherit;
	display: flex;
	background-color: transparent;
	color: white;
	text-align: center;
	margin: 0 auto;
	border: none;
}

/*  request a show ANIMATIE*/

section:nth-of-type(2) a:last-of-type {
	background-color: purple;
}

@keyframes kleinrequestashow-animation {
	0% {
		width: 15em;
		background-color: var(--start-color);
	}

	50% {
		width: 10em;
		background-color: var(--end-color);
	}

	100% {
		width: 15em;
		background-color: var(--end-color);
	}
}

section:last-of-type {
	--start-color: darkviolet;
	--end-color: blue;
}

section:last-of-type a {
	background-color: var(--start-color);
}

section:last-of-type a:hover {
	animation-name: kleinrequestashow-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

footer {
	margin-top: 2em;
}

footer a:hover {
	background-color: darkviolet;
	opacity: 0.5;
}